* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
/*   para respeitar o width definido das coisas */}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  /*   para responsividade */
  max-width: 20%;
}


